* {
  font-family: "inconsolata";
}

body {
  height: 100vh;
  width: 100vw;

  display: grid;

  grid-template-rows: 95fr 3fr;

  background: #2E3440;
}

nav {
  background: #3B4252;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.sessions, .status {
  display: flex;
  flex-direction: row;
}

.sessions > *, .status > * {
  background: #4C566A;
  color: white;

  display: flex;
  align-items: center;

  padding: 0 .5em 0 .5em;
}

.sessions > *:first-child, .status > *:last-child {
  font-weight: bold;
  color: #4C566A;
  background: #81A1C1;
}

.active-session {
  background: #88C0D0;
  color: #3B4252;
}
